<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <jmxConfigurator />

    <appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>./log/system.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>./log/system-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>300MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>%date{YYYYMMddHHmmss} %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.springframework" level="info" />

    <logger name="com.a1systems" level="trace" />
    <logger name="com.a1systems.smpp.multiplexer.server.CleanupTask" level="info" />
    <logger name="com.cloudhopper.smpp.impl.DefaultSmppClient" level="trace" />

    <root level="info">
        <appender-ref ref="ROLLING" />
    </root>
</configuration>
